<div class="boundaries"
    (mousemove)="updatePosition($event)"
    (touchmove)="updatePosition($event)"
    (click)="updateSize()"
    (window:resize)="updateSize()"
>
  <div class="floater"
    (mouseover)="moveFloater()"
    (touchmove)="moveFloater()"
    [ngStyle]="
      {
        'margin-left' : floatX + 'px',
        'margin-top' : floatY + 'px'
      }
    "

  ><img src="assets/me.jpg" class="pic"></div>
</div>
<div class="statistics"
  [ngStyle]="
    {
      'font-size' : myFontSize + 'em'
    }
  "
>
  Position X: {{ this.mouseX }}
  <br>
  Position Y: {{ this.mouseY }}
  <br>
  Size X: {{ this.screenX }}
  <br>
  Size Y: {{ this.screenY }}
  <br>
  Floater X: {{ this.floatX }}
  <br>
  Floater Y: {{ this.floatY }}
</div>
:)
